.footer-container {
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 40px 40px;
  }
  .footer-logo {
    grid-row: 2;
    grid-column: 1;
    width: 106px;
  }
  .footer-note {
    grid-row: 3;
    grid-column: 1;
    align-self: center;
  }
  .footer-terms {
    grid-row: 4;
    grid-column: 1;
    align-self: center;
  }
  .footer-socials {
    grid-row: 2;
    grid-column: 2;
    justify-self: end;
    display: flex;
    width: 90px;
    justify-content: space-between;
  }
  .footer-socials-logo {
    width: 40px;
  }
  .footer-contact {
    grid-row: 4;
    grid-column: 2;
    justify-self: end;
    width: 10rem;
    padding: 20px 40px;
    background-color: #00aef3;
    border-radius: 6px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-contact:hover {
    color: #353131;
    background-color: #d5d5d5;
  }
  .space {
    height: 500px;
    width: 500px;
  }
  @media screen and (max-width: 768px) {
    .footer-container {
      padding: 30px;
    }
    .footer-logo {
      grid-row: 1;
      grid-column: 1;
    }
    .footer-contact {
      grid-row: 2;
      grid-column: 1;
    }
    .footer-terms {
      grid-row: 3;
      grid-column: 1 / span 2;
    }
    .footer-socials {
      grid-row: 2;
      grid-column: 2;
    }
    .footer-note {
      grid-row: 4;
      grid-column: 1 / span 2;
    }
  }
  