/* 
============= INDEX =============
  to jump to section `ctrl+F` the 
  the word from this index and
  hit `Enter`

  === GENERAL
  === HEADER 
  === BURGER 
  === MAIN-ARTICLE
  === COURSES
  === CAROUSEL
  === QA-ACCORDION
  === FOOTER
*/

/* 
===== GENERAL 
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #f4f4f4;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
li,
ul {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
body {
  background-color: #161616;
}
.desktop-layout {
  max-width: 980px;
}
/* 
===== ^
===== ===== ===== ===== ===== 
===== HEADER 
*/
header {
  top: 0;
  position: sticky;
  position: -webkit-sticky;
  background-color: #1a1e1f;
  transition: all 0.2s;
  z-index: 1000;
}
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  height: 84px;
}
.header-logo {
  width: 182px;
}
.header-logo img {
  width: 100%;
}
.header-scroll {
  background-color: #222222f2;
}
.header-menu {
  display: flex;
  color: #f4f4f4;
}
.scroll-up {
  transform: translateY(0);
}
.scroll-down {
  transform: translateY(-100%);
}
/* 
===== ^
===== ===== ===== ===== ===== 
===== BURGER 
*/

/* 
===== 
===== MAIN-ARTICLE
*/
.intro-background {
  background-image: url("https://static.wixstatic.com/media/93e8a3_9fa23196ddf6427a9da574e2b31a13d2~mv2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 352px;
  width: 100%;
}
.intro-headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  font-size: 34px;
  margin: auto;
  height: 100%;
  font-family: "TBC_GEO_BOLD";
}
.intro-headline span:first-child {
  font-size: 42px;
  font-family: "TBC_GEO_BOLD";
}
.intro-article {
  background-color: #2b2b2b;
  height: 465px;
  width: 100%;
}
.intro-article-text {
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: self-start;
  font-size: 28px;
  font-family: "TBC_GEO_MED";
}
.intro-article-text a {
  font-size: 20px;
  color: #00aef3;
}
.intro-article-text a:hover {
  color: #aaaaaa;
}

/* 
===== 
===== COURSES
*/
.courses h2 {
  margin-top: 25px;
  margin-bottom: 55px;
  font-family: "TBC_GEO_BOLD";
}
.courses {
  padding-bottom: 30px;
}
/* 
===== 
===== CAROUSEL
*/

/* 
===== 
===== QA
*/

/* 
===== 
===== FOOTER
*/


/* 
===== 
===== MEDIA
*/
@media screen and (max-width: 414px) {
  .header-menu {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 270px;
    flex-direction: column;
    transform: translateX(201px);
    opacity: 0;
    background-color: rgb(34, 34, 34);
    z-index: 100;
    padding: 100px 25px;
    align-items: flex-end;
    gap: 50px;
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0, 0.82, 0.66, 0.72);
  }
  .header-container {
    padding: 5px 20px;
  }
  .mobile-burger {
    display: flex;
  }
  .header-menu-toggle {
    transform: translateX(0);
    opacity: 1;
  }
  .overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 5;
    background-color: rgba(22, 22, 22, 0.62);
  }
  .show-overlay {
    display: block;
  }
  /* QA */
  .questions-header {
    grid-row: 1;
    grid-column: 1 / span 2;
  }
  .accordion {
    grid-row: 2;
    grid-column: 1 / span 2;
  }
  .more-questiions {
    grid-row: 3;
    grid-column: 1 / span 2;
  }
}

@font-face {
  font-family: "TBC_GEO";
  src: url("https://static.wixstatic.com/ufonts/dd97f4_7737b5e7be24426aa35c9f4311c1de96/woff2/file.woff2")
    format("woff2");
}
@font-face {
  font-family: "TBC_GEO_REG";
  src: url("/assets/TBC_GEO_REG.woff2") format("woff2"),
    url("https://static.wixstatic.com/ufonts/643d94_dd28b3957391427eb54de1c9eff7cfb1/woff2/file.woff2")
      format("woff2");
}
@font-face {
  font-family: "TBC_GEO_MED";
  src: url("https://static.wixstatic.com/ufonts/643d94_93c16d86ec9d47d0a2a36894fbdd54fd/woff2/file.woff2")
    format("woff2");
}

@font-face {
  font-family: "TBC_GEO_BOLD";
  src: url("https://static.wixstatic.com/ufonts/643d94_f52303b2efea42e1b4aeed119e42672e/woff2/file.woff2")
    format("woff2");
}
