button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
  box-sizing: border-box;
  padding-block: 0;
  padding-inline: 0;
  line-height: 0;
}
body {
  background: rgb(22, 22, 22);
}
.carousel {
  width: 900px;
  height: 300px;
  margin: auto;
  position: relative;
}
.bullets-container {
  position: absolute;
  width: 100%;
  height: 10px;
  bottom: 50px;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
.bullet {
  background: white;
  cursor: pointer;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
.carousel-wrapper {
  display: grid;
  grid-template-rows: 3fr 1fr 1fr;
}
.carousel-screen {
  border: 1px solid lightseagreen;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  transition: all 1s;
}
.carousel-screen-reminder {
  justify-content: space-evenly;
}
.carousel-current-screen {
  opacity: 1;
}

.arrow-right {
  transform: rotate(180deg);
  fill: rgba(232, 230, 230, 1);
}
.arrow-left {
  fill: rgba(232, 230, 230, 1);
}
.arrow-right:hover,
.arrow-left:hover {
  fill: rgba(232, 230, 230, 0.6);
}

@media screen and (max-width: 414px) {
  .carousel {
    width: 95%;
    margin: 0 auto;
  }
  .carousel-screen {
    flex-direction: column;
  }
}
